footer{
    padding: 70px 0px;
    background-color: var(--secondary-color);
}

footer h2{
    font-size: 50px;
    text-align: center;
    color: var(--secondary-text-color);
}

.grid_container{
    margin: 60px auto;
    max-width: 90%;
    background-color: var(--secondary-text-color);
    gap: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 300px 300px; 
    grid-template-areas: 
    "item1 item1 item2 item3"
    "item4 item5 item5 item3";
}

#item1{
    grid-area: item1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#item2{
    background-color: var(--light-secondary-color);
    grid-area: item2;
    flex-direction: column;
    gap: 10px; 
}

#item3{
    grid-area: item3;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

#item4{
    background-color: var(--light-secondary-color);
    grid-area: item4;
    flex-direction: column;
    gap: 10px;
}

#item5{
    border: solid 1px black;
    /* background-color: linear-gradient(from left to right, var(--primary-color), var(--light-secondary-colorsecondary-color)); */
    background-color: var(--main-brand-color);
    grid-area: item5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_item{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px; 
    border-radius: 10px;
    
}

.grid_item a{
   /*  background-color: var(--secondary-color);  */
    color: var(--secondary-text-color);
    font-size: 25px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: 150ms ease-in-out;
} 
.grid_item a:hover{
    color: var(--text-color);
    background: transparent;
}

/* .item3{
    display: block; 
    flex-direction: column;  
    justify-content: flex-start;
    align-items: flex-start; 
    align-self: flex-start;
    border: 1px solid black;
    background: transparent !important;
    position: absolute;
    bottom: 200px;
    left: 50px;
}
 */
@media(max-width: 1300px){
    .grid_container{
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 300px 300px 300px; 
        grid-template-areas: 
        "item1 item1 item2"
        "item4 item5 item5"
        "item3 item3 item3";
    }
}

@media(max-width: 900px){
    .grid_container{
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto auto auto auto; 
        grid-template-areas: 
        "item1 item1"
        "item5 item5"
        "item2 item4"
        "item3 item3";
    }
}

@media(max-width: 650px){
    footer h2{
        font-size: 9vw;
    }

    .grid_item h3{
        font-size: 20px;
    }

    .grid_item{
        padding: 20px;
        gap: 20px;
    }

    .grid_item a{
        font-size: 20px;
        padding: 5px 10px;
    }

    .grid_container{
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto auto auto auto; 
        grid-template-areas: 
        "item1"
        "item2"
        "item5"
        "item4"
        "item3";
    }
}

.copy{
    text-align: center;
    color: var(--secondary-text-color);
    margin-top: 5rem;
}