@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --main-brand-color: #B0BC98 ;
    --primary-color: #87A878;
    --secondary-color: #CAE2BC;
    --light-secondary-color:#DBF9B8;
    --text-color:#111111;
    --secondary-text-color:#4b4d49;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

body{
    min-height: 100vh;
    width: 100vw;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color:var(--text-color);
}

