header{
    padding: 100px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    background-color: var(--primary-color);
}

.header-text{
    width: 60%;
}

.name-h1{
    color: var(--secondary-text-color);
    text-shadow: 3px 3px var(--main-brand-color);
    font-size: 80px;
    padding-bottom: 25px;
}

.webdev{
    text-shadow: 3px 3px black;
    font-size: 60px;
    padding-bottom: 80px;
}

.circle{
    height: 600px;
    width: 600px;

    max-height: 80vw;
    max-width: 80vw;

    overflow: hidden;
    border-radius: 50%;
    border: 20px solid var(--main-brand-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img{
    width: 100%;
}

nav{
    margin-bottom: 120px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a{
    color: var(--secondary-text-color);
    text-decoration: none;
    position: relative;
    padding: 3px;
    font-size: 25px;
}

nav a:hover{
    color: var(--text-color);
}

nav a::after{
    content: '';
    height: 2px;
    width: 0%;
    background: var(--main-brand-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 200ms ease-in-out;

}

nav a:hover::after{
    width: 100%;
}

#menu-button{
    display: none;
}

label[for="menu-button"] span{font-size: 40px;}

label[for="menu-button"]{display:none}

@media(max-width:768px){
    nav ul{
        display: none;
        flex-direction: column;
    }

    #menu-button:checked~ul{
        display: flex;
    }

    label[for="menu-button"]{display: block;}
    
    nav{
        position: absolute;
        top: 0;
        left: 0;
        background: var(--secondary-color);
        padding: 15px;
        border-radius: 0 0 25px 0;
    }

    .name-h1{
        font-size: 300%;        
    }

    .webdev{
        font-size: 200%;
        text-align: left;
        padding-bottom: 30px;
    }

    .header-text p{
        font-size: 5vw;
        text-align: left;
    }
    
}