#services-section{
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#services-section h2{
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
}

.flex-container{
    
    max-width: 90%;
    min-height: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    gap: 40px;
    justify-content: center;
    border-radius: 50px;
}

.card{
    width: 450px;
    max-width: 90%;
    height: 800px;
    overflow: auto;
    background-color: var(--light-secondary-color);
    border-radius: 50px;
    padding: 50px; 
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.8);
    text-align: center;
}

.card h3{
    font-size: 30px;   
}

.card p{
    font-size: 20px;
    text-align: left;
    margin: 5px; 
}

.card a{
    display: block;
    padding: 15px 40px;
    border-radius: 50px;
    margin-top: 30px;
    text-decoration: none;
    color: var(--secondary-text-color);
    background: var(--secondary-color);
    transition: 0.5s ease-in-out;
}

.card a:hover{
    background: transparent;
} 

.card img{
    width: 300px;
    height: 60px;
    margin: auto;
    margin-top: 145px;
    margin-bottom: 60px;
    padding: 10px;
    background-color: var(--secondary-text-color);
    margin-bottom: 145px;
}

@media(max-width: 768px){
    #services-section{
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

    }

    .flex-container{
        width: 90%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .card img{
        width: 250px;
        height: 50px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

}




